body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
}

canvas {
    border: 2px solid #fff;
    display: none;
}

#score, #lives {
    margin-top: 10px;
    font-size: 18px;
}

#high-scores {
    margin-left: 20px;
}

#highScoresList {
    padding-left: 20px;
}

#startButton {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#startButton:hover {
    background-color: #45a049;
}
